table {
  width: 100%;
}

tr.custom-detail-row {
  height: 0;
}

tr.custom-element-row:not(.custom-expanded-row):hover {
  background: #f1f1f1;
  cursor: pointer;
}

tr.custom-element-row:not(.custom-expanded-row):active {
  background: #efefef;
}

.custom-element-row td {
  border-bottom-width: 0;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 13px;
}

.custom-element-detail {
  overflow: hidden;
  display: flex;
}

.custom-container {
  position: relative;
  min-height: 400px;
}

.custom-table-container {
  position: relative;
  max-height: 600px;
  overflow: auto;
}

.asset-icon-photos {
  font-size: 40px;
  padding-right: 20px;
  cursor: pointer;
}

.table-padding {
  padding-right: 10px;
}