.headline {
  font-family: "Roboto";	
  font-size: 22px;
}

.close-detail {
  margin-top: -20px;
}

.custom-element-row td {
  border-bottom-width: 0;
  font-family: 'Roboto';
  font-size: 13px;
}

table {
  width: 100%;
 }