.permission-section {
  font-family: 'Roboto';
  font-size: 16px;
}

.vertical-seprator {
  border-left: 1px solid rgb(221, 221, 221);
  height: 400px;
  margin-right: 50px;
}

.card-padding {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.bottom-padding {
  padding-top: 30px;
}