<div class="margin20px" *ngIf="isYard" fxLayout="column" fxFlex="33">
  <mat-card class="mat-elevation-z8" fxFlex>
    <mat-card-content>
      <app-asset-yard (refreshMarkers)="refreshMarkers($event)"
                      [yardId]=1 
                      [yardName]=yardName fxFlex>
       </app-asset-yard>
    </mat-card-content>
  </mat-card>
</div>
<div class="table-padding" fxLayout="column" fxFlex>
  <div *ngIf="!isAssetVitals" fxLayout="row" fxLayoutGap="10px">
    <mat-form-field fxFlex="50">
      <mat-label class="select-font">Filter by Category</mat-label>
      <mat-select (selectionChange)="filterCategory($event)">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.category }}
        </mat-option>
      </mat-select>
    </mat-form-field>  
    <mat-form-field fxFlex="50">
      <mat-label class="select-font">Filter by Status</mat-label>
      <mat-select (selectionChange)="filterStatus($event)">
        <mat-option *ngFor="let status of statuses" [value]="status.id">
          {{ status.status }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="isAssetVitals" class="margin-bottom20px" fxLayout="row" fxFlex>
    <app-asset-vitals (cancelVitals)="cancelVitals($event)"
                      (refreshMarkers)="refreshMarkers($event)" 
                      [assetId]=assetId fxFlex>
    </app-asset-vitals>
  </div>
  <div fxLayout="row">
    <div fxLayout="row" fxLayoutGap="20px" fxFlex>
      <div fxLayout="column" fxFlex>
        <mat-card class="mat-elevation-z8" fxFlex>
          <mat-card-content>
            <agm-map  [latitude]="lat"
                      [longitude]="lng"
                      [zoom]="zoom"
                      [disableDefaultUI]="false"
                      [zoomControl]="false"
                      (mapClick)="closePrevInfo($event)">
  
              <agm-marker *ngFor="let m of filteredMarkers"
                          (markerClick)="clickedMarker(m, infoWindow)"
                          (mouseOver)="mouseOverMarker(m, infoWindow)"
                          (mouseOut)="mouseOutMarker(m, infoWindow)"
                          [latitude]="m.lat"
                          [longitude]="m.lng"
                          [label]="m.label"
                          [iconUrl]="m.icon">
                          
                <agm-info-window #infoWindow>
                  Name: {{selectedName}}<br>
                  Unit No: {{selectedUnitNo}}<br>
                  Category: {{selectedCategory}}<br>
                  Status: {{selectedStatus}}
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
