.accordion-font {	
  font-family: "Roboto";	
  font-size: 16px;
  font-weight: 500;
  padding-top: 9px;
  padding-bottom: 9px;
  cursor: pointer;
}

.headline {
  font-family: "Roboto";	
  font-size: 22px;
}

.close-detail {
  margin-top: -20px;
}

.font {
  font-family: "Roboto";	
  font-size: 15px;
}