<br>
<mat-card class="mat-elevation-z8" fxFlex>
  <mat-card-content>
    <div fxLayout="column" fxFlex>
      <div fxLayout="row" class="headline" fxLayoutAlign="start" fxFlex>
        Asset Vitals
      </div>
      <div class="close-detail cursor-hand" fxLayoutAlign="end">
        <mat-icon (click)="close()">close</mat-icon>
      </div>
      <br>
      <div fxLayout="row" fxLayoutGap="10px" fxFlex>
        <div class="font"  fxFlex="25">Purchase Date: 
          <span class="mat-h4">{{asset_vitals?.purchase_date | date}}</span>
        </div>
        <div class="font" fxFlex="25">Current Location: 
          <span class="mat-h4" >{{asset_vitals?.lat}}, {{asset_vitals?.lng}}</span>
        </div>
        <div class="font" fxFlex="25">Current Address:</div>
        <div class="font" fxFlex="25">Nearest Town/City:</div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxFlex>
        <div class="font" fxFlex="25">Capital Cost: 
          <span class="mat-h4">${{asset_vitals?.capital_cost}}</span>
        </div>
        <div class="font" fxFlex="25">Maintenance Costs: 
          <span class="mat-h4" >${{asset_vitals?.maintenance_cost}}</span>
        </div>
        <div class="font" fxFlex="25">Hours Billed: 
          <span class="mat-h4" >${{asset_vitals?.hours_billed}}</span>
        </div>
        <div class="font" fxFlex="25">Hours Worked: 
          <span class="mat-h4" >${{asset_vitals?.hours_billed}}</span>
        </div>
      </div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              Asset Details
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-asset (cancelSubmit)='cancelSubmit($event)' 
                     [assetId]=assetId>
          </app-asset>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              History Log
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-log></app-log>
        </mat-expansion-panel>
      </mat-accordion> 
    </div>     
  </mat-card-content>
</mat-card>

    