.banner-internal {
  height: 70px;
  padding-bottom: 35px;
}

.banner-font {	
  font-family: "Roboto";	
  font-size: 14px;
  font-weight: 500;
  padding-right: 20px;
  cursor: pointer;
}

.nav-icon {
  padding-top: 20px;
  padding-right: 6px;
  cursor: pointer;
}

.nav-user {
  padding-top: 17px;
  padding-right: 20px;
  cursor: pointer;
}

.nav-logout {
  padding-top: 17px;
  cursor: pointer;
}

.profile-image {
  width: 30px;
  cursor: pointer;
}