<div fxLayout="row" fxFlex>
  <form fxLayout="column" [formGroup]="userForm" fxFlex>
    <br>
    <mat-card class="mat-elevation-z8" fxFlex>
      <mat-card-content>
        <div fxLayout="row" class="mat-headline">User Card</div>
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="10px">
              <mat-form-field appearance="outline" fxFlex="33">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="first_name" required>
              </mat-form-field>  
              <mat-form-field appearance="outline" fxFlex="33">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="last_name" required>
              </mat-form-field> 
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email" required>
              </mat-form-field> 
            </div>
            <div fxLayout="row" fxLayoutGap="10px">
              <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role_id" required>
                  <mat-option *ngFor="let role of roles" [value]="role.id">
                    {{ role.role }}
                  </mat-option>
                </mat-select>
              </mat-form-field>  
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Status</mat-label>
                <mat-select formControlName="status" required>
                  <mat-option value="InActive">
                    InActive
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div> 
          </div>
          <div fxLayoutAlign="end center" fxLayoutGap="10px">
            <div>
              <a class="blue-link" mat-button i18n (click)="close()">
                Close
              </a>
            </div>     
            <div>
              <button mat-raised-button i18n color="primary" 
                      [disabled]="!userForm.valid" 
                      (click)="create()">
                Save
              </button>
            </div>
          </div> 
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  
