<form fxLayout="column" [formGroup]="assetForm" fxFlex>
  <mat-card class="mat-elevation-z8" fxFlex>
    <mat-card-content>
      <div fxLayout="row" class=mat-title>Asset Card</div>
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex="50"> 
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="text" required>
          <mat-error>
           Name required!
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Unit Number</mat-label>
          <input matInput formControlName="unit_number" type="text" required>
          <mat-error>
            Unit number required!
           </mat-error>
        </mat-form-field> 
      </div>
      <div fxLayout="row" fxLayoutGap="10px">   
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>Asset Category</mat-label>
          <mat-error>
            Category required!
          </mat-error>
          <mat-select formControlName="category" required>
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{ category.category }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Asset Status</mat-label>
          <mat-error>
              Status required!
          </mat-error>
          <mat-select formControlName="status" required>
            <mat-option *ngFor="let status of statuses" [value]="status.id">
              {{ status.status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end center" fxLayoutGap="10px">
        <!-- <div>
          <a class="blue-link" mat-button i18n (click)="close()">
            Cancel
          </a>
        </div>      -->
        <div>
            <div>
                <button *ngIf="isUpdateAsset" mat-raised-button i18n color="primary" (click)="submit()">Save</button>
              </div>
              <div>
                <button *ngIf="!isUpdateAsset" mat-raised-button i18n color="primary" disabled>Save</button>
              </div>
        </div>
      </div> 
    </mat-card-content>
  </mat-card>
</form>
      