table {
  width: 100%;
}

.custom-element-cell {
  font-family: 'Roboto';
  font-size: 13px;
}

.custom-element-detail {
  overflow: hidden;
  display: flex;
}

.custom-container {
  position: relative;
  min-height: 400px;
}

.desc-padding {
  padding-right: 20px;
}

.custom-table-container {
  position: relative;
  max-height: 600px;
  overflow: auto;
}

.asset-icon-photos {
  font-size: 40px;
  padding-right: 20px;
  // padding-top: 10px;
  cursor: pointer;
}

ngx-dropzone {

  &.custom-dropzone {
    height: 400px;
    width: 100%;
    background: #fff;
    // background: #000;
    color: #8799AD;
    // color: black;
    border: 2px dashed;
    border-radius: 2px;
    // font-size: 18px;
  }
}

.mat-column-thumbnail {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-file {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-category {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-date_created {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-delete {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 3% !important;
  width: 3% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-update {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 3% !important;
  width: 3% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}