<form fxLayout="column" [formGroup]="assetAddressForm" fxFlex>
  <br>
  <div fxLayout="row" class="unit_number" fxLayoutAlign="start" fxFlex>
      Deploying Unit No. 
  </div>
  <br>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field  fxFlex="50"> 
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" type="text" required>
      <mat-error>
       Address required!
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>City</mat-label>
      <input matInput formControlName="city" type="text" required>
      <mat-error>
        City required!
       </mat-error>
    </mat-form-field> 
  </div>
  <div fxLayout="row" fxLayoutGap="10px">   
    <mat-form-field fxFlex>
      <mat-label>Province / State</mat-label>
        <mat-select formControlName="province" required>
          <mat-optgroup *ngFor="let group of stateGroups" [label]="group.name">
            <mat-option *ngFor="let state of group.states" [value]="state.value">
              {{state.value}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <mat-error>
          Province or State required!
        </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Postal / Zip Code</mat-label>
      <input matInput formControlName="postal" type="text" required>
      <mat-error>
        Postal or Zip code required!
      </mat-error>
    </mat-form-field> 
  </div>
  <div fxLayoutAlign="end center" fxLayoutGap="10px">
    <div>
      <a class="blue-link" mat-button i18n (click)="close()">
        Cancel
      </a>
    </div>     
    <div>
      <button [disabled]="!assetAddressForm.valid" mat-raised-button 
              i18n color="primary" (click)="lookup()">
        Add to Map
      </button>
    </div>
  </div>
</form>


        
